p{
  text-align: center;
  font-size: x-large;
}

h1{
  text-align: center;
}

button{
  margin-left: 47%;
  margin-right: 46%;
}

img{
  margin-left: 32%;
  margin-right: 45%;
  width: 16rem;
  height: 15rem;
}